{:deps 
 {cljs-bean/cljs-bean             {:mvn/version "1.7.0"}
  lilactown/helix                 {:mvn/version "0.1.5"}}

 :paths ["src"]
 :aliases
 {:shadow
  {:extra-deps {thheller/shadow-cljs            {:mvn/version "2.15.2"}}}}}
