{:source-paths
 ["dev/src"
  "src"]

 :dependencies
 [[lilactown/helix "0.1.6"]]

 :dev-http {8082 "public"}

 :builds
 {:storybook
  {:target :npm-module
   :entries [helix.virtual-stories
             helix.virtual2-stories
             helix.virtual3-stories
             helix.virtual4-stories
             helix.virtual5-stories
             helix.konva-stories]
   :output-dir "public/js/stories"}}}
